.grid .item {
    padding: 10px;
}

.gridRow .item:first-child {
    padding-left: 0;
}

.gridRow .item:last-child {
    padding-right: 0;
}

.grid.grid-2 .item {
    width: 50%;
}

.grid.grid-3 .item {
    width: 33%;
}

.grid.grid-4 .item {
    width: 25%;
}

.gridRow {
    display: flex;
    flex-flow: row wrap;
}

.grid .item {
    box-sizing: border-box;
}

.card {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid gainsboro;
}

.somebodyDidThis {
    border: 1px dashed maroon;
    height: 150px;
}
